
  body {
    margin: 0;
    padding: 0;
    background: #fff;
  }

  .google {
    width: 100%;
    height: auto;
  }

  .wrapimg {
    background: #000;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    display:none;
  }

  .wrapper {
    width: 620px;
    height: auto;
    margin: auto;
    margin-top: 200px;
  }

  .button-wrapper {
    width: 70px;
    height: 34px;
    float: right;
    margin-top: 5px;
    display: none;
  }

  .google-data {
    width: 620px;
    padding: 10px;
    position: relative;
    font-family: 'Raleway', Arial, sans-serif;
    color: white;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
    h1 {
      font-size: 22px;
      padding-bottom: 20px;
    }
    input {
      &[type=text], &[type=password] {
        width: 604px;
        padding: 8px 4px 8px 10px;
        border: 1px solid #999;
        border: 1px solid rgba(78, 48, 67, 0.3);
        background: rgba(0, 0, 0, 0.24);
        border-radius: 2px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        font-family: 'Raleway', Arial, sans-serif;
        color: #444;
        font-size: 16px;
      }
      &::-webkit-input-placeholder {
        color: rgba(37, 21, 26, 0.5);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
      }
      &:-moz-placeholder {
        color: rgba(37, 21, 26, 0.5);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
      }
      &:-ms-input-placeholder {
        color: rgba(37, 21, 26, 0.5);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
      }
      &[type=text]:hover, &[type=password]:hover {
        border-color: rgba(51, 51, 51, 0.4);
      }
      &[type=text]:focus, &[type=password]:focus, &[type=submit]:focus {
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(255, 255, 255, 0.15);
        outline: none;
        background: #fff;
      }
    }
  }

  /* Placeholder style (from http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css) */

  .no-boxshadow .google-data input {
    &[type=text]:focus, &[type=password]:focus {
      outline: 1px solid white;
    }
  }

  .google-data input[type=submit] {
    width: auto;
    text-align: center;
    padding: 8px 9px;
    float: left;
    background-color: #C53727;
    margin: 0;
    background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
    background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
    background-image: -ms-linear-gradient(top, #dd4b39, #c53727);
    background-image: -o-linear-gradient(top, #dd4b39, #c53727);
    background-image: linear-gradient(top, #dd4b39, #c53727);
    border: 1px solid #B0281A;
    border-radius: 2px;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 2px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-family: 'Raleway', Arial, sans-serif;
    &:nth-child(1) {
      margin: 0 10px 0 0;
    }
    &:hover {
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 20px 30px rgba(99, 64, 86, 0.1);
    }
  }

  .no-boxshadow .google-data input[type=submit]:hover {
    background: #594642;
  }

  .google-data label {
    display: none;
    padding: 0 0 5px 2px;
    cursor: pointer;
    &:hover ~ input {
      border-color: #333;
    }
  }

  .no-placeholder .google-data label {
    display: block;
  }

  .switch {
    margin: 10px;
    float: right;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    a {
      &:hover {
        color: #000;
      }
      &:link, &:visited, &:hover, &:active {
        color: #333;
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        font-family: 'Raleway', Arial, sans-serif;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
      }
    }
  }











$font-size:2;

@-webkit-keyframes spin{
  0%{
    top:0;
    -webkit-transform:rotate(0deg);
  }
  50%{
    top:-($font-size*2)+em;
    -webkit-transform:rotate(-180deg);
  }
  100%{
    top:0;
    -webkit-transform:rotate(-360deg);
  }
}

body{
  background:#e74c3c;
}

i{
  height:$font-size+em;
  width:$font-size+em;
  border-radius:100%;
  background:#fff;
  display:block;
  margin:10em auto;
  position:absolute;
  left:50%;
  -webkit-animation:spin 2s ease infinite;
  animation:spin 2s ease infinite;

  &:before, &:after{
    content:'';
    display:block;
    position:absolute;
    height:inherit;
    width:inherit;
    background:inherit;
    border-radius:inherit;
    -webkit-animation:spin 2s ease infinite;
    animation:spin 2s ease infinite;
  }
  &:before{
    left:-($font-size*1.15)+em;
  }
  &:after{
    left:($font-size*1.15)+em;
  }
}










html {
  overflow-x: hidden;
}
.rr {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background: #e74c3c;
  color: #222;
}
.nav-bar {
  padding: 20px;
  width: 100%;
  background: #fff;
  background: rgba(255,255,255,0.8);
  text-align: center;
}
.nav-bar li {
  display: inline-block;
  position: relative;
}
.nav-bar li a {
  display: block;
  font-size: 1.5em;
  margin: 0 10px;
  color: inherit;
  text-decoration: none;
  line-height: 33px;
}
.nav-bar li.current:before {
  content: "";
  position: absolute;
  bottom: -28px;
  right: 50%;
  width: 9999px;
  height: 0;
  border-top: 8px solid #fff;
  border-top: 8px solid rgba(255,255,255,0.8);
  border-right: 10px solid transparent;
}
.nav-bar li.current:after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 50%;
  width: 9999px;
  height: 0;
  border-top: 8px solid #fff;
  border-top: 8px solid rgba(255,255,255,0.8);
  border-left: 10px solid transparent;
}
