<div class="wrapper">
  <img src="/images/text1.png" alt="" class="getting-started" style="display:none;"/>
  <form method="get" action="/showcase" class="input-data animated fadeInUp">
    <div>
      <input type="text" name="url" placeholder="http://google.com">
    </div>

    <div class="button-wrapper">
      <input type="submit" id="search">
    </div>
  </form>
</div>
