<script type="text/javascript">
  $.backstretch([
      "http://db.tt/Ls70GJc8"
    , "http://db.tt/Bjow1L0I"
    , "http://db.tt/RUwG7CH8"
  ], {duration: 3000, fade: 1500});

  $(function(e) {

    var btn = $(".button-wrapper");
    var input = $("input[type=text]")

    input.focus(function() {
      btn.removeClass("fadeOutLeft");
      btn.addClass("animated fadeInDown");
      btn.fadeIn();
    });

    input.focusout(function() {
      btn.removeClass("fadeInDown");
      btn.addClass("fadeOutLeft");
      btn.fadeOut(800);
    });

  });
</script>

<div class="wrapper">
  <form method="get" action="/showcase" class="google-data animated fadeInUp">

    <div style="height: 100%;">
        <input type="text" name="url" placeholder="http://google.com">
    </div>

    <div class="button-wrapper">
        <input type="submit" id="search">
    </div>
  </form>
</div>
