<script type="text/javascript">
  $.backstretch([
      "/images/01.jpg"
    , "/images/02.jpg"
    , "/images/03.jpg"
  ], {duration: 3000, fade: 1500});

  $(function(e) {
    var btn = $(".button-wrapper");
    var input = $("input[type=text]")

    input.focus(function() {
      btn.removeClass("fadeOutLeft");
      btn.addClass("animated fadeInDown");
      btn.fadeIn();
    });

    input.focusout(function() {
      btn.removeClass("fadeInDown");
      btn.addClass("fadeOutLeft");
      btn.fadeOut(800);
    });

  });
</script>

<div class="wrapper">
  <form method="get" action="/showcase" class="input-data animated fadeInUp">
    <div>
      <input type="text" name="url" placeholder="http://google.com">
    </div>

    <div class="button-wrapper">
      <input type="submit" id="search">
    </div>
  </form>
</div>
