<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= css :application %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= js  :application %>
  </head>
  <body>

    <header>
      <section style="width: 1280px;  padding-left: 0; margin: 0 auto;">
        <nav>
          <ul>
            <li class="brand">
                wkPDF Tester
            </li>
            <li class="link">
              <a href="/">
                Search
              </a>
            </li>
            <li class="link">
              <a href="/tester">
              Tester
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </header>

    <div class="container-fluid" style="width: 1280px;  padding-left: 0; margin: 0 auto;">
      <%= yield %>
    </div>

    <script type="text/javascript">
      $.backstretch([
          "/images/01.jpg"
        , "/images/02.jpg"
        , "/images/03.jpg"
      ], {duration: 3000, fade: 1500});

      $(window).on("backstretch.after", function (e, instance, index) {
        // Do something
        $('header').animate({ 'margin-top':0 }, 500, 'swing', function(){
          $('.tester-form form').animate({ 'margin-left':0 }, 500, 'swing', function(){
            $('.instructions').show();
          });
          $('.getting-started').show('slow');
        });
      });

      $(function() {
        var temp;
        var btn = $(".button-wrapper");
        var input = $("input[type=text], textarea");

        input.focus(function() {
          btn.removeClass("fadeOutLeft");
          btn.addClass("animated fadeInDown");
          btn.fadeIn();
        });

        input.focusout(function() {
          btn.removeClass("fadeInDown");
          btn.addClass("fadeOutLeft");
          btn.fadeOut(800);
        });

        $('.nav-bar li').hover(function() {
          temp = $(this).parent().children('.current')
          temp.removeClass('current');
          $(this).addClass('current');
        }, function() {
          $(this).removeClass('current');
          temp.addClass('current');
        }).on('click',function(e){
          var index = $(this).index();

          temp = $(this).parent().children('.current')
          temp.removeClass('current');
          $(this).addClass('current');

          $('iframe').hide();
          $('iframe[data-index='+index+']').show().animate({ opacity: 1 }, 500);
        });
      });
    </script>

  </body>
</html>
