<div class="loading-wrapper">
  <i class="loading"></i>
</div>

<div class="content">
  <% @urls.each_with_index do |u, i| %>
    <iframe data-index="<%= i %>" src="<%= u %>" frameborder="0" style="width:30%; min-height: 550px; float:left; margin: 20px;"></iframe>
  <% end %>
</div>

<script type="text/javascript">
  $(function() {
    var temp,
        pdfCounter = 0,
        pdfTotal = <%= @urls.length %>;

    $('iframe').on('load', function(){
      pdfCounter += 1;

      if (pdfTotal == pdfCounter){
        $('.loading').animate({ opacity: 0 }, 500);
        $('iframe:first').show();
        $('.content').show('slow');
      }
    });
  });
</script>
