<script type="text/javascript">
$(function() {
  var temp,
      pdfCounter = 0,
      pdfTotal = <%= @urls.length %>;

  $('.test li').hover(function() {
    temp = $(this).parent().children('.current')
    temp.removeClass('current');
    $(this).addClass('current');
  }, function() {
    $(this).removeClass('current');
    temp.addClass('current');
  });

  $('iframe').on('load', function(){
    pdfCounter += 1;

    if (pdfTotal == pdfCounter){
      $('.loading').animate({ opacity: 0 }, 500);
      $('.content').show('slow');
    }
  });
});
</script>

<nav class="test">
  <ul class="rr">
    <li class="current"><a href="#">wkhtmltopdf</a></li>
    <li><a href="#">PDFCrowd</a></li>
    <li><a href="#">Doc Raptor</a></li>
  </ul>
</nav>


<div class="loading" style="position:absolute; width:100%: height: 100%; top: 40%; left: 50%;">
  <i></i>
</div>

<div class="content" style="display:none;">
  <% @urls.each do |u| %>
    <iframe src="<%= u %>" frameborder="0" style="width:100%"></iframe>
  <% end %>
</div>
