<div class="loading-wrapper">
  <i class="loading"></i>
</div>

<div class="content">
  <% @urls.each_pair do |key, value| %>
    <div class="iframe-wrapper <%= key%>">
      <i></i>
      <iframe src="<%= value %>" frameborder="0" class="iframe-result"></iframe>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function() {
    var temp,
        pdfCounter = 0,
        pdfTotal = <%= @urls.length %>;

    $('iframe').on('load', function(){
      pdfCounter += 1;

      if (pdfTotal == pdfCounter){
        $('.loading').animate({ opacity: 0 }, 500);
        $('.content').show('slow');
      }
    });
  });
</script>
