<script type="text/javascript">
$(function() {

  var temp;
  $('.test li').hover(function() {
    temp = $(this).parent().children('.current')
    temp.removeClass('current');
    $(this).addClass('current');
  }, function() {
    $(this).removeClass('current');
    temp.addClass('current');
  });


  
});
</script>

<nav class="test">
  <ul class="rr">
    <li class="current"><a href="#">wkhtmltopdf</a></li>
    <li><a href="#">PDFCrowd</a></li>
    <li><a href="#">Doc Raptor</a></li>
  </ul>
</nav>


<i></i>

<div class="content" style="display:none;">
  <% @urls.each do |u| %>
    <iframe src="<%= u %>" frameborder="0" style="width:100%"></iframe>
  <% end %>
</div>
