<script type="text/javascript">
  $(document).ready(function(){
    $('form').on('submit', function(){
      $('.instructions').remove();
      $('.content').animate({ opacity: 0 }, 500).show('slow');
      $('.loading-wrapper').animate({ opacity: 1 });
      $('#result').attr('src', '/generate/wkhtmltopdf?' + $('form').serialize());
      return false;
    });

    $('#result').on('load', function(){
      $('.loading-wrapper').animate({ opacity: 0 }, 500);
      $('.content').css({ opacity: 1 }).show('slow');
    });
  });
</script>

<div class="row-fluid">
  <div class="span3 tester-form">
    <img src="/images/text2.png" alt="" class="instructions" style="position: absolute; margin-top: 36px; margin-left: 235px; display:none;"/>

    <form method="get" action="/showcase" class="input-data animated fadeInUp">
      <input type="text" name="url" placeholder="http://google.com">
      <textarea type="text" name="options" placeholder="..."></textarea>
      <div class="button-wrapper">
        <input type="submit">
      </div>
      <img src="/images/text3.png" alt="" />
    </form>
    <div class="separator"></div>
  </div>

  <div class="span9">
    <div class="loading-wrapper" style="display: none;">
      <i class="loading"></i>
    </div>

    <div class="content">
      <iframe id="result" src="" frameborder="0"></iframe>
    </div>

  </div>
</div>
